{% extends "sidebar.html" %}

{% block content %}

  {% if validlink %}
    <p>請輸入新密碼</p>    
    <form action="" method="post">
      {% csrf_token %}    
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">新密碼: </label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">再次輸入新密碼: </label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Change my password">
          </td>
        </tr>
      </table>
    </form>

  {% else %}
    <h1>密碼重置失敗</h1>    
    <p>密碼重置連結已經失效，因為這個連結已經被使用過，請再寄送一次重置密碼的連結</p>

  {% endif %}

{% endblock %}