{% extends 'sidebar.html' %}

{% block content %}
  <h1>商店列表</h1>
  {% for store in store_list %}
    <ul>
      <li>
        <a href="{{ store.get_absolute_url }}">商店ID</a>: {{ store.id }}        
      </li>      
      <li>店名: {{ store.title }}</li>            
      <li>介紹: {{ store.description }}</li>            
      <li><a href="{% url 'store-delete' store.id %}">刪除商店</a></li>
    </ul>
    <br>
    <p>商店賣的產品</p>
    {{ store.product_set.all }}
    <br>
    {% for product in store.product_set.all %}
    <ul>
      <li>產品名稱：{{ product.title }}</li>
      <li>產品價錢：{{ product.price }}</li>
    </ul>    
    {% endfor %}
    <hr>
  {% endfor %}
  
  <br>
  <a href="{% url 'store-create' %}">新增商店</a>
{% endblock %}